Repository albert-luta/nestjs-sort-filter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

build(renovate): update timezone
  renovate.json
Due: prettier --write

chore(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

build(commitlint): set up commitlint
  .commitlintrc.json
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update non-major
  package-lock.json
  package.json
Due: prettier --write

build(renovate): un-group updates and change schedule
  renovate.json
Due: prettier --write

build(node): set recommended node version
  .node-version
  .nvmrc
  package.json
Due: prettier --write

build(renovate): add labels and auto merge pins
  renovate.json
Due: prettier --write

feat(express): set the express typings for the app
  src/main.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

feat(config): set up environment variables
  .env
  .gitignore
  package-lock.json
  package.json
  src/app.module.ts
  src/config/config.module.ts
  src/config/config.validation.ts
  src/config/config.variables.ts
  src/main.ts
  tsconfig.json
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

feat(swagger): add swagger configuration
  nest-cli.json
  package-lock.json
  package.json
  src/main.ts
  test/jest-e2e.json
  test/swagger-e2e.js
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

feat(version): add api versioning
  src/main.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

feat(prefix): add api global prefix
  src/main.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

feat(validation): add automatic validation
  src/main.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

feat(vehicles): create base vehicles endpoints
  package.json
  src/app.module.ts
  src/common/base/base.dao.ts
  src/common/base/base.dto.ts
  src/vehicles/dao/vehicle.dao.ts
  src/vehicles/dto/create-vehicle.dto.ts
  src/vehicles/entities/vehicle.entity.ts
  src/vehicles/vehicles.controller.spec.ts
  src/vehicles/vehicles.controller.ts
  src/vehicles/vehicles.mock.ts
  src/vehicles/vehicles.module.ts
  src/vehicles/vehicles.service.spec.ts
  src/vehicles/vehicles.service.ts
  test/jest-e2e.json
  tsconfig.test.json
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

refactor(config): place the config module inside common
  src/app.module.ts
  src/common/config/config.module.ts
  src/common/config/config.validation.ts
  src/common/config/config.variables.ts
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

build(scripts): add lint:types script
  package.json
Due: prettier --write

feat(vehicles): add sort functionality
  package.json
  src/app.module.ts
  src/common/base/base.dao.ts
  src/common/base/base.query.dto.ts
  src/common/transformations/decorators/query-sort.decorator.ts
  src/common/transformations/decorators/transform-query-sort-to-object.decorator.ts
  src/common/transformations/decorators/transform-query-to-array.decorator.ts
  src/common/utils/filter.utils.ts
  src/common/utils/sort-order.enum.ts
  src/common/utils/sort.utils.ts
  src/common/utils/utils.module.ts
  src/common/validations/decorators/have-valid-query-sort-fields.decorator.ts
  src/common/validations/decorators/is-query-sort-format.decorator.ts
  src/vehicles/dao/vehicle.dao.ts
  src/vehicles/dto/find-all-vehicles.query.dto.ts
  src/vehicles/vehicles.controller.spec.ts
  src/vehicles/vehicles.controller.ts
  src/vehicles/vehicles.service.spec.ts
  src/vehicles/vehicles.service.ts
  test/jest-e2e.json
Due: prettier --write, eslint --cache --fix, bash -c tsc --noEmit, jest --bail --findRelatedTests

build(renovate): update lock file label
  renovate.json
Due: prettier --write

ci: setup the development workflow
  .github/workflows/development.yml
Due: prettier --write

fix(deps): pin dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency @types/supertest to v2.0.12
  package-lock.json
  package.json
Due: prettier --write

build(renovate): update schedule for lock file maintenance
  renovate.json
Due: prettier --write

chore(deps): update dependency tsconfig-paths to v3.14.1
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update actions/setup-node action to v2.5.1
  .github/workflows/development.yml
Due: prettier --write

chore(deps): update actions/checkout action to v3
  .github/workflows/development.yml
Due: prettier --write

build(renovate): enable lock file maintenance
  renovate.json
Due: prettier --write

chore(deps): update actions/setup-node action to v3
  .github/workflows/development.yml
Due: prettier --write

chore(deps): update node.js to v16.14.2
  .node-version
  .nvmrc
Due: none

chore(deps): update typescript-eslint monorepo to v5.16.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): lock file maintenance
  package-lock.json
Due: prettier --write

chore(deps): update dependency ts-jest to v27.1.4
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency typescript to v4.6.3
  package-lock.json
  package.json
Due: prettier --write

chore(deps): update dependency prettier to v2.6.1
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{json,yml,yaml}) or (any of: *.{js,ts})
  eslint --cache --fix: any of: *.{js,ts}
  bash -c tsc --noEmit: any of: *.{js,ts}
  jest --bail --findRelatedTests: any of: *.{js,ts}
